DATABASE_URL="postgresql://neondb_owner:npg_iczEBfT2KeJ3@ep-spring-unit-addm8hxm-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_iczEBfT2KeJ3@ep-spring-unit-addm8hxm-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


NEXTAUTH_SECRET="your-super-secret-key-change-this-in-production"
NEXTAUTH_URL="http://localhost:3000"

TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""


PUSHER_APP_ID="2127145"
PUSHER_KEY="78adad45b671f8445762"
PUSHER_SECRET="319981b91b9e0beb822a"
PUSHER_CLUSTER="us2"
NEXT_PUBLIC_PUSHER_KEY="78adad45b671f8445762"
NEXT_PUBLIC_PUSHER_CLUSTER="us2"


NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="NeuralNode"
